@import "tailwindcss";


.typing-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #9333ea;
  width: 30ch; /* adjust based on text length + buffer */
  animation: typing 3s steps(28) forwards, blink 0.7s infinite;
  /* padding-right: 0.5rem; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 26ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
